
.main-page{
    height: 100vh;
    width: 100%;
    color: black;
    background-color: white;
    display: flex;
    flex-direction: row;
}
.side-bar{
    position: absolute;
        /* background-color: red; */
    height: 100%;
    width: auto;
    background-color: white;
    border-right: 1px solid #d7d5d5;

}

.side-img{
margin-top: -20px;
margin-left: 30px;
/* background-color: red; */
width: 150px;
height: 200px;
}
.side-img2{
    width: 80px;
    height: 100px;
    margin-top: 0px;
    margin-left: 20px;
    
}
.side-img3{
    position: absolute;
    width: 100px;
    height: 70px;
    margin-top: 0px;
    margin-left: 20px;
    /* background-color: red; */
    
}
.side-bar ul{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    /* width: 200px; */
}

.side-bar li{
    border-radius: 8px;
    margin-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: clamp(17px,4vw,20px);
    font-weight: 500;
    color: black;
    transition: 0.4s ease;
    
}
.side-bar li:hover{
    background-color: rgb(198, 228, 239);
}
.side-bar3{
    position: fixed;
    /* background-color: red; */
    height: 70px;
    width: 100%;   
    margin-top: 91vh;
    border-top: 1px solid #d7d5d5;
    border-bottom: 1px solid #d7d5d5;


}
.side-bar3 ul{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* width: 200px; */
    /* background-color: red; */
}

.side-bar3 li{
    border-radius: 8px;
    margin-top: 12px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 10px;
    padding-bottom: 0px;
    font-size: clamp(17px,4vw,20px);
    font-weight: 500;
    /* color: black; */
    
    transition: 0.4s ease;
    
}
.side-bar3top{
    position: fixed;
    /* background-color: red; */
    height: 70px;
    width: 100%;   
    /* margin-top: 91vh; */
    border-top: 1px solid #d7d5d5;
    border-bottom: 1px solid #d7d5d5;


}
.side-bar3top ul{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: right;
    /* width: 200px; */
    /* background-color: red; */
}

.side-bar3top li{
    border-radius: 8px;
    margin-top: 12px;
    padding-left: 0px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 0px;
    font-size: clamp(17px,4vw,20px);
    font-weight: 500;
    /* color: black; */
    
    transition: 0.4s ease;
    
}
.side-bar3 li:hover{
    /* background-color: rgb(198, 228, 239); */
    color: blue;
}
.sidecolor{
    background-color: rgb(238, 249, 253);
}
.sidecolor2{
    color: blue;
}

.search-sub h1{
    position: absolute;
    font-size: clamp(17px,4vw,25px);
    margin-top: 60px;
    margin-left: 20px;
    font-weight: 600;
}
.search-sub input{
    margin-left: 20px;
    margin-top: 120px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    /* background-color: rgba(239, 239, 239,1); */
    background-color: transparent;
    border-left: 1px solid #dad6d6;
    border-top: 1px solid #dad6d6;
    border-bottom: 1px solid #dad6d6;
    /*; */
}
.searchbutton{
    position: absolute;
float: right;
width: 30px;
height: 40px;
border-radius: 0px;
margin-right: 25px;
margin-top: 120px;
/* background-color: red; */
border-right: 1px solid #dad6d6;
border-top: 1px solid #dad6d6;
border-bottom: 1px solid #dad6d6;border-top-right-radius: 5px;
border-bottom-right-radius: 5px;

}
.searchbutton2{
width: 30px;
height: 40px;
border-radius: 0px;
margin-top: 130px;
margin-left: -39px;
/* background-color: red; */
background-color: #EFEFEF;
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;

}
.search-sub{
    /* background-color: red; */
   
    height: 200px;
    margin-left: 40px;
    border-bottom: 1px solid #d7d5d5;
    
}
.search-sub2{
    /* background-color: red; */
    height: 72.5vh;
}
.result-profile img{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* padding-top: 20px;
    padding-bottom: 20px; */
    margin-left: 70px;
}
.result-profile{
    
    padding-top: 10px;
    padding-bottom: 10px;

}
.result-profile:hover{
    /* padding-top: ; */
    background-color: rgb(215, 238, 246);
}
.result-profile h3{
    font-size: clamp(15px,4vw,17px);
    /* padding-top: 20px; */
    margin-left: 130px;
    font-weight: 600;
   
    
}
#result-span{
    
    font-size: clamp(8px,4vw,12px);
    padding-top: 0px;
    margin-left: 75px;
    font-weight: 300;
}
.result-profile2 img{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* padding-top: 20px;
    padding-bottom: 20px; */
    margin-left:  18px;
}
.result-profile2{
    
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;

}
.result-profile2:hover{
    /* padding-top: ; */
    background-color: rgb(215, 238, 246);
}
.result-profile2 h3{
    font-size: clamp(15px,4vw,17px);
    /* padding-top: 20px; */
    margin-left: 77px;
    font-weight: 600;
   
    
}
.search-sub2 span{
    font-size: clamp(8px,4vw,12px);
    padding-top: 0px;
    margin-left: 130px;
    font-weight: 300;
}
.search-sub2 h2{
    font-size: clamp(15px,4vw,17px);
    padding-top: 20px;
    margin-left: 75px;
    font-weight: 600;
   
    
}

.search-sub3 h1{
    position: absolute;
    font-size: clamp(17px,4vw,25px);
    margin-top: 80px;
    font-weight: 600;
    margin-left: 20px;
}
.search-sub3 input{
    margin-left: 20px;
    margin-top: 130px;
    background-color: rgba(239, 239, 239,1);
    /*; */
}

.search-sub3 h2{
    font-size: clamp(15px,4vw,17px);
    margin-top: 20px;
    margin-left: 20px;
    font-weight: 600;   
}

