body{
    overflow-x: hidden;
    background-color: #ffff;
}
.homescreen{
    /* background-color: red; */
    display: grid;
    width: 100%;
    height: 100vh;
    margin-left: 0px;
    display: flex;
    justify-content: center;   
}

.notch-list{
    position: absolute;
    width: auto;
    height: auto;
    background-color: #0d0c22;
    color: white;
    display: flex;
    justify-content: left;
}
.notch-list ul{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
    height: auto;
    border-radius: 25px;
}
 .notch-list li{
   
    border-radius: 25px;
    transition: 0.4s;
    font-size: 13px;
    font-weight: 600;
} 
.notch-list li:hover{
    background-color: rgb(232, 232, 83);
    color: black;
    
}
@media(width<640px){
    .notch-list{
        width: 100%;
    }
}