body{
    overflow-x: hidden;
    background-color: #ffff;
}
.homescreen{
    background-color: #ffb3cc;
    background-image: linear-gradient(0deg, #ffb3cc 0%, #B5FFFC 100%);
    width: 100%;
    height: 100vh;
    margin-left: 0px;
    display: flex;
    
    justify-content: center;   
}

.notch-list{
    position: fixed;
    z-index: 8;
    width: auto;
    height: auto;
    background-color: #0d0c22;
    color: white;
    display: flex;
    justify-content: left;
}
.notch-list ul{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    position: relative;
    height: auto;
    width:370px;
    border-radius: 25px;
    /* background-color: rebeccapurple; */
}
 .notch-list li{
   
    border-radius: 25px;
    transition: 0.4s;
    font-size: 13px;
    font-weight: 600;
} 
.link-item{
    border-radius: 25px;
    transition: 0.4s;
    font-size: 13px;
    font-weight: 600;
    background-color: rgb(232, 232, 83);

}
.link-item2{
    border-radius: 25px;
    transition: 0.4s;
    font-size: 13px;
    font-weight: 600;
    background-color: rgb(232, 232, 83);

}
.link-item:hover{
    background-color: rgb(232, 232, 83);
}
.notch-list li:hover{
    background-color: rgb(232, 232, 83);
    color: black;
    
}
.list1{
    background-color: rgb(232, 232, 83);
    color: black;
}

.list-item {
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.home-page-heading{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    place-items: center;
}
.heading-world{
    /* font-size: 80px; */
    font-size: 300px;
    color: white;
    font-weight: 900;
    /* mix-blend-mode:luminosity */
   }
.home-page-heading h2{
    margin-top: 100px;
    color: lightgray;
    font-weight: 900;
}
.heading-world {
    animation-name: scaleUp; 
    animation-duration: 2s; 
    animation-fill-mode: forwards;
}
.heading-text {
    animation-name: scaleUp; 
    animation-duration: 3s; 
    animation-fill-mode: forwards;
}
.explore-here{
    /* position: absolute; */
    background-color: rgb(58, 58, 201);
    display: flex;
    place-items: center;
    justify-content: center;
    animation: bounce 1s ease-in-out 0s infinite alternate ;
        
}
@keyframes bounce{
    to{
       transform: translateY(20px);
    }
    from{
        transform: translateY(0px);
        
    }
}
@keyframes scaleUp { 
    from {
        transform: translateY(-10%);  
         opacity: 0; 
        /* transform: scale(0); */
     }
    to { 
        transform: translateX(0);  
         opacity: 1; 
        /* transform: scale(1); */
    }
}


@media(width<640px){
    .notch-list{
        width: 100%;
    }
}
@media(width<1200px){
  
    .heading-world{
        /* font-size: 80px; */
        font-size: 250px;
        font-weight: 900;
       }
}
@media(width<995px){
  
    .heading-world{
        /* font-size: 80px; */
        font-size: 200px;
        font-weight: 900;
       }
}
@media(width<815px){
  
    .heading-world{
        /* font-size: 80px; */
        font-size: 150px;
        font-weight: 900;
       }
}
@media(width<600px){
  
    .heading-world{
        /* font-size: 80px; */
        font-size: 80px;
        margin-top: -30px;
        font-weight: 900;
       }
}