.profile-detail-sub{
    width: 100%;
    /* background-color: red; */
    margin-top: 70px;
    height: 100%;
    display: block;
}
.profile-detail-sub button{
    margin-top: 30px;
    margin-left: 30px;
    height: 40px;
    background-color: lightblue;
}
.followres-list{
    /* background-color: red; */
    margin-top: 10px;
}
.followres-list ul{
    display: flex;
    margin-left: px;
    justify-content: space-around;

}
.followres-list li{
    padding-left: 15px;
    font-size: clamp(10px,4vw,17px);

}
.username-bio{
    border-color: red;
    width: 100%;
    margin-top: 50px;
    margin-left: 50px;
}
.username-bio h1{
    font-size: clamp(17px,4vw,25px);
    font-weight: 600;
}
.username-bio p{
    margin-top: 0px;
    font-size: clamp(10px,4vw,15px);

}
.follower-list-figure{
/* background-color: red;    */
 margin-top: 50px;
}
.follower-list-figure ul{
    display: flex;
    margin-left: 0px;
    justify-content: space-around;

}
.follower-list-figure li{
    padding-left: -0px;
    font-size: clamp(10px,4vw,17px);

}

/* @media(width<400px){
    .follower-list-figure li{
    padding-left: 70px;
    font-size: clamp(10px,4vw,17px);

}
.follow{
    margin-left: 30px;
}
.following{
    margin-left: 45px;
}
} */